h1 {
	border-bottom: 1px dotted #999;
	font-family: 'norwester';
	font-size: 24px;
	margin-bottom: 20px;
	padding: 20px 0;
	text-transform: uppercase;
}

.font-test {
	color: $nav;
	cursor: pointer;
	font-family: 'norwester';
	font-size: 200px;
	line-height: 160px;
	&.active {
		color: $nav-active;
	}
	&:hover {
		color: $nav-active;
	}
}



#wrapper {
	@include clearfix;
	//overflow: hidden;
	//.left-column, .right-column {
	//	float: left;
	//}
	.right-column {
		padding: 40px;
	}

}

.holder {
	height: 500px;
	cursor: pointer;
	padding: 40px 80px 40px;
	&.exp {
		background-color: $nav-active;
	}
}

.project-list {
	border-bottom: 1px solid white;
}

.project {
	@include clearfix;
	border-top: 1px solid white;
	padding: 20px;
	.project-image, .project-details {
		float: left;
	}
	.project-image {
		height: 135px;
		margin-right: 20px;
		width: 240px;
		&.one {
			background-image: url("/source/images/img-1.png");
		}
	}
}
section {
	@include clearfix;
	position: relative;
}
.screenshot {
	float: left;
	margin-right: 40px;
}
.screen-description {
	@include clearfix;
	width: 960px;
}
.description, .call-out-list {
	float: left;
	//width: 60%;
}
.call-out-list {
	counter-reset: call-outs;
	float: left;
	//width: 40%;
	.call-out {
		border-bottom: 1px dotted #999999;
		cursor: pointer;
		list-style: none;
		margin-bottom: 5px;
		padding-bottom: 15px;
		width: 160px;
		.item-number {
			margin-right: 5px;
			position: relative;
			&:before {
				border: $list-bullet-radius solid $call-out-color;
				border-radius: $list-bullet-radius;
				content: ' ';
				font-size: 0;
				height: 0;
				width: 0;
			}
			&:after {
				color: $call-out-number;
				counter-increment: call-outs;
				content: counter(call-outs);
				font-size: 11px;
				font-style: bold;
				text-align: center;
				position: absolute;
				left: 7px;
				top: 9px;
			}
		}
		.item {
			font-family: Georgia;
			font-style: italic;
			font-size: 13px;
			position: relative;
			top: 5px;
		}
		.call-out-pointer {
			display: none;
			position: absolute;
			&.top, &.right, &.bottom, &.left {
				transform: rotate(315deg) ;
				-webkit-transform: rotate(315deg) ;
				-moz-transform: rotate(315deg) ;
				-o-transform: rotate(315deg) ;
				-ms-transform: rotate(315deg);
				&:before {
					border: $call-out-radius solid $call-out-color;
					border-radius: $call-out-radius;
					content: ' ';
					font-size: 0;
					height: 0;
					width: 0
				}
				&:after {
					// because I don't call counter-increment, the same number appears here as in 'item-number'
					transform: rotate(45deg) ;
					-webkit-transform: rotate(45deg) ;
					-moz-transform: rotate(45deg) ;
					-o-transform: rotate(45deg) ;
					-ms-transform: rotate(45deg);
					color: $call-out-number;
					content: counter(call-outs);
					font-family: Georgia;
					font-size: 18px;
					font-weight: bold;
					text-align: center;
					position: absolute;
					left: 16px;
					top: 2px;
				}
			}
			&.top {
				&:before {
					border-top-right-radius: 0;
				}
				left: -5px;
				top: 10px;
			}
			&.right {
				&:before {
					border-bottom-right-radius: 0;
				}
			}
			&.bottom {
				&:before {
					border-bottom-left-radius: 0;
				}
			}
			&.left {
				&:before {
					border-top-left-radius: 0;
				}
			}
		}
		&:hover {
			background-color: yellow;
			.item-number, .call-out-pointer {
				display: inline-block;
				&:before {
					border-color: red;
				}
			}
		}
	}
}