h1 {
	border-bottom: 1px dotted #999;
	font-family: 'norwester';
	font-size: 24px;
	margin-bottom: 20px;
	padding: 20px 0;
	text-transform: uppercase;
}

.font-test {
	color: $nav;
	cursor: pointer;
	font-family: 'norwester';
	font-size: 200px;
	line-height: 160px;
	&.active {
		color: $nav-active;
	}
	&:hover {
		color: $nav-active;
	}
}



#wrapper {
	@include clearfix;
	overflow: hidden;
	.left-column, .right-column {
		float: left;
	}
	.right-column {
		padding: 40px;
	}

}

.holder {
	height: 500px;
	cursor: pointer;
	padding: 40px 80px 40px;
	&.exp {
		background-color: $nav-active;
	}
}

.project-list {
	border-bottom: 1px solid white;
}

.project {
	@include clearfix;
	border-top: 1px solid white;
	padding: 20px;
	.project-image, .project-details {
		float: left;
	}
	.project-image {
		height: 135px;
		margin-right: 20px;
		width: 240px;
		&.one {
			background-image: url("/source/images/img-1.png");
		}
	}
}
section {
	position: relative;
}
.screen-description {
	@include clearfix;
	width: 960px;
}
.description, .call-out-list {
	float: left;
	width: 60%;
}
.call-out-list {
	counter-reset: call-outs;
	width: 40%;
	.call-out {
		cursor: pointer;
		list-style: none;
		margin-bottom: 20px;
		.item-number {
			margin-right: 10px;
			position: relative;
			&:before {
				border: $call-out-radius solid $call-out-color;
				border-radius: $call-out-radius;
				content: ' ';
				font-size: 0;
				height: 0;
				width: 0;
			}
			&:after {
				color: $call-out-number;
				counter-increment: call-outs;
				content: counter(call-outs);
				font-size: 14px;
				text-align: center;
				position: absolute;
				left: 11px;
				top: 7px;
			}
		}
		.item {
			font-size: 12px;
			position: relative;
			top: 5px;
		}
		.call-out-pointer {
			display: inline-block;
			position: absolute;
			&.top, &.right, &.bottom, &.left {
				transform: rotate(315deg) ;
				-webkit-transform: rotate(315deg) ;
				-moz-transform: rotate(315deg) ;
				-o-transform: rotate(315deg) ;
				-ms-transform: rotate(315deg);
				&:before {
					border: $call-out-radius solid $call-out-color;
					border-radius: $call-out-radius;
					content: ' ';
					font-size: 0;
					height: 0;
					width: 0
				}
				&:after {
					// because I don't call counter-increment, the same number appears here as in 'item-number'
					transform: rotate(45deg) ;
					-webkit-transform: rotate(45deg) ;
					-moz-transform: rotate(45deg) ;
					-o-transform: rotate(45deg) ;
					-ms-transform: rotate(45deg);
					color: $call-out-number;
					content: counter(call-outs);
					font-size: 14px;
					text-align: center;
					position: absolute;
					left: 11px;
					top: 7px;
				}
			}
			&.top {
				&:before {
					border-top-right-radius: 0;
				}
			}
			&.right {
				&:before {
					border-bottom-right-radius: 0;
				}
			}
			&.bottom {
				&:before {
					border-bottom-left-radius: 0;
				}
			}
			&.left {
				&:before {
					border-top-left-radius: 0;
				}
			}
		}
		&:hover {
			.item-number, .call-out-pointer {
				&:before {
					border-color: red;
				}
			}
		}
	}
}