@font-face {
  font-family: "norwester";
  src: url("../../fonts/norwester.eot");
  src: url("../../fonts/norwester.eot?#iefix") format("embedded-opentype"), url("../../fonts/norwester.woff") format("woff"), url("../../fonts/norwester.ttf") format("truetype"), url("../../fonts/norwester.svg#norwester") format("svg");
  font-weight: "normal";
  font-style: "normal";
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "norwester";
    src: url("../../fonts/norwester.svg#norwester") format("svg");
  }
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-test {
  color: #e0e0e0;
  cursor: pointer;
  font-family: 'norwester';
  font-size: 200px;
  line-height: 160px;
}
.font-test.exp {
  color: yellow;
}

.holder {
  height: 500px;
  cursor: pointer;
}
.holder.exp {
  background-color: yellow;
}

#wrapper {
  overflow: hidden;
}
#wrapper::after {
  clear: both;
  content: "";
  display: table;
}
#wrapper .left-column, #wrapper .right-column {
  float: left;
}
